/*
    SkyApp Bootstrap Sass Theme
    Author: Brad Trayersy
    Vsersion: 0.0.1
*/
/* BASE - Base styles, variables, minins, etc */
/* front colors */
/* background colors*/
/* Mixins */
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
}

/* line 8, ../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 12, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 16, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 20, ../scss/base/_base.scss */
section {
  #background-color: lightgreen;
  #margin: 1px;
}

/* MODULES - Individual site components */
/* LAYOUTS - Page layout styles */
/* NavBar */
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  width: 90%;
  margin: auto;
  border-color: #d58512;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}
/* line 12, ../scss/layouts/_nav.scss */
.navbar a {
  color: #00aff0;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px;
  padding-top: 15px;
}

/* line 22, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-brand:hover {
  color: #00aff0;
}

/* line 24, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #00aff0;
}
